:root{
    --green: #83ee83;
    --lightgrey: rgb(219, 219, 219);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

.app{
    display:block;
    flex-flow:row nowrap;
}

.button--new{
    background: var(--green);
    padding: 10px 20px;
    border:none;
    cursor:pointer;
    width:100px;
}


/* SIDEMENU */

.sidemenu{
    display: inline-block;
    background-color:var(--lightgrey);
    width:100px;
    height:500px;
}

/* BOTTOMMENU */

.bottommenu{


}

.bottommenu__position{
    display:inline;
}

/* FILE */

.file{
    width:500px;
    height:500px;
    border:solid 1px #444;
    display: inline-block;
    position: relative;
    background-color:rgb(243, 243, 243);
}

.file__greeting{
    position: absolute;
    top:45%;
    text-align: center;
    width:100%;
}

.file__layers{
    position:absolute;
    right:15px;
    z-index: 99;
}

.file__canvas{
    position: absolute;
    background: white;
}

.rect--prev{
    position:absolute;
    border:solid 1px;
    z-index: 2;
    background:transparent;
}

/* RECTANGLE */

.rectangle__outline{
    position:absolute;
    border:solid 1px black;
    background-color:transparent;
    pointer-events: none;
}