:root{
    --green: #83ee83;
    --lightgrey: rgb(219, 219, 219);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

.app{
    display:block;
    flex-flow:row nowrap;
}

.button{
    padding: 10px 20px;
    border:none;
    cursor:pointer;
    width:100px;
}

.button--new{
    background: var(--green);
}

.button--back{
    background: var(--lightgrey)
}

/* SIDEMENU */

.sidemenu{
    display: inline-block;
    background-color:var(--lightgrey);
    width:150px;
    height:500px;
    float: right;
    text-align: center;
}

.input--color{
    width:100%;
    border:none;
    background:none;
}

.sidemenu__item{
    margin-bottom: 10px;
    display: block;
}

.option--hidden{
    display:none;
}

/* BOTTOMMENU */

.bottommenu{


}

.bottommenu__position{
    display:inline;
}

/* FILE */

.canvas__wrapper{
    width:850px;
}

.file{
    width:700px;
    height:500px;
    border:solid 1px #444;
    display: inline-block;
    position: relative;
    background-color:rgb(243, 243, 243);
}

.file__greeting{
    position: absolute;
    top:45%;
    text-align: center;
    width:100%;
}

.file__layer{
    position:absolute;
    z-index: 2;
    top:0;
    left:0;
}

.file__canvas{
    position: absolute;
    background: white;
}

.rect--prev{
    position:absolute;
    border:solid 1px;
    z-index: 2;
    background:transparent;
}

/* RECTANGLE */

.rectangle__outline, .circle__outline{
    position:absolute;
    border:solid 1px;
    background-color:transparent;
    pointer-events: none;
}

.circle__outline{
    border-radius:100%;
}

.line__outline{
    position:absolute;
    border:solid 1px;
    height:1px;
    transform-origin:0;
    pointer-events: none;
}